*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    --background: #262833;
    --badge: #43454d;
    --light-purple:#e4d6f3;
    --dark-purple:#a686c4;
    --light-sandle:#f5ddc8;
    --sandle: #e9ae79;
    --border:#888585;
    --title:#bbbcbf;
    --links:#73b06f;
}
body{
    background-color: #262833;
}
/*header section*/
header{
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
}
.profile-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.profile-sec a{
    text-decoration: none;
    color: #fff;
}

/* nav section */
nav{
    padding: 1em;
    max-width: 220px;
    height: 100%;
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}
.header{
    margin: 1em;
    display: block;
}
.links{
    color: #fff;
    text-decoration: none;
}
.links-sec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0.5em 0;
}
.notification{
    background-color:var(--light-purple);
    color: #000;
    border-radius: 25px;
    padding: 0 5px;
    margin-left: 20px;
    font-size: 0.8rem;
}
.badge{
    background-color: var(--badge);
    border-radius: 25px;
    padding: 0 5px;
    margin-left: 20px;
    font-size: 0.8rem;
    color: #fff;
}
.title{
    color: var(--title);
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
nav a:hover{
    color: var(--links);
}